.savedNewsHeader {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 40px 0 56px 104px;
}

.savedNewsHeader__content-title {
  padding: 0;
  margin: 0;
  color: rgba(26, 27, 34, 0.5);
}

.savedNewsHeader__content-text {
  font-family: "roboto-slab";
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  padding: 0;
  margin: 28px auto 30px 0;
}

.savedNewsHeader__text-break-line {
  display: block;
}

.savedNewsHeader__keywords {
  color: #1a1b22;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 820px) {
  .savedNewsHeader {
    padding: 24px 40px 32px;
  }
  .savedNewsHeader__content-title {
    font-size: 14px;
  }
  .savedNewsHeader__content-text {
    font-size: 30px;
    line-height: 34px;
    margin: 16px auto 16px 0;
  }
  .savedNewsHeader__text-break-line {
    display: inline;
  }
}

@media screen and (max-width: 320px) {
  .savedNewsHeader {
    padding: 8px 16px 32px;
  }
  .savedNewsHeader__content-title {
    font-size: 12px;
    margin-bottom: 16px;
  }
  .savedNewsHeader__content-text {
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 50px 0;
  }
  .savedNewsHeader__text-break-line {
    display: inline;
  }
}
