.about {
  background-color: #fff;
  display: flex;
  color: #1a1b22;
  gap: 56px;
  padding: 80px 216px 80px 104px;
  margin: 0 auto;
}

.about__image {
  height: 464px;
  width: 464px;
  flex-shrink: 0; /* Prevents image from shrinking on smaller screens */
  object-fit: cover; /* Prevents image distortion */
  border-radius: 50%;
}

.about__container {
  max-width: 600px;
  width: 100%;
  margin-top: 51px;
}

.about__title-text {
  font-family: "roboto-slab", sans-serif;
  font-size: 40px;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 24px;
}

.about__paragraph {
  margin: 0 0 16px 0;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1280px) {
  .about__image {
    height: 364px;
    width: 364px;
  }
  .about {
    padding-right: 100px;
  }
}
@media screen and (max-width: 900px) {
  .about__image {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 820px) {
  .about {
    padding: 40px;
    gap: 32px;
  }
  .about__image {
    height: 232px;
    width: 232px;
    margin-top: 21px;
  }
  .about__container {
    margin: 0;
  }
  .about__title-text {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 530px) {
  .about {
    flex-direction: column;
    align-items: center;
    padding: 32px 24px 128px;
    gap: 32px;
  }
  .about__image {
    height: 272px;
    width: 272px;
    margin: 0px;
  }
  .about__container {
    margin: 0;
  }
  .about__title-text {
    font-size: 30px;
    line-height: 40px;
  }
}
