.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}

.header_theme_light {
  background-color: white;
}

.header__logo {
  color: #fff;
  text-decoration: none;
  align-self: center;
  font-family: "roboto-slab", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 30px auto 26px 104px;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__logout-btn {
  display: flex;
  color: white;
  font-weight: 500;
  padding: 12px 15px 12px 19px;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #d1d2d6;
  margin: 19px 104px 13px 32px;
  cursor: pointer;
}

.header_text_dark {
  color: black;
}

.header__menu-btn {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 16px;
  z-index: 20;
}

.header__logout-icon {
  display: inline-block;
  margin-left: 14px;
  width: 24px;
  height: 24px;
}

.header__signin-btn {
  align-self: center;
  font-weight: 500;
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 100px;
  min-width: 152px;
  max-width: 24px;
  padding: 12px 0;
  margin: 19px 116px 13px 54px;
  cursor: pointer;
}

@media screen and (max-width: 820px) {
  .header__logo {
    margin: 22px auto 18px 40px;
  }
  .header__logout-btn {
    padding: 8px 12px;
    margin: 14px 40px 12px 16px;
  }
  .header__signin-btn {
    font-size: 16px;
    margin: 14px 40px 12px 16px;
  }
}

@media screen and (max-width: 530px) {
  .header_menu-opened {
    background-color: #1a1b22;
  }
  .header__menu-btn {
    display: block;
    margin-right: 16px;
  }
  .header__logo {
    font-size: 16px;
    margin: 16px auto 16px 16px;
    z-index: 20;
  }
  .header__mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #1a1b22;
    border-top: 1px solid rgba(196, 196, 196, 0.2);
    border-bottom: 1px solid rgba(196, 196, 196, 0.2);
    visibility: hidden;
    opacity: 0;
    z-index: 15;
    padding: 16px 16px 24px 16px;
  }

  .header_theme_light .header__mobile-menu {
    background-color: white;
    border-bottom: 1px solid #d1d2d6;
  }
  .header_theme_light.header_menu-opened {
    background-color: #fff;
  }

  .header__mobile-menu_opened {
    visibility: visible;
    opacity: 1;
  }

  .header__mobile-content {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .header__signin-btn,
  .header__logout-btn {
    margin: 0;
    padding: 16px 116px 16px 117px;
    max-width: 288px;
    justify-content: center;
  }
  .header__menu-btn_hidden {
    display: none;
  }
}
