*,
*::before,
*::after {
  box-sizing: border-box;
}

/* TODO: padding to 102 for saved-news page later ONLY*/
.newsCardList__layout {
  background-color: #f5f6f7;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 62px 104px;
  margin: 0px;
}

.newsCardList__title {
  font-family: "roboto-slab";
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 18px auto 64px 0;
}

.newsCardList__cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
