.newsCard__url {
  text-decoration: none;
  cursor: pointer;
}

.newsCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: 576px;
  color: black;
  border-radius: 16px;
  overflow: hidden;
  background-color: #fff;
}

.newsCard__image-content {
  position: relative;
  width: 400px;
  height: 272px;
}
.newsCard__image {
  min-width: 400px;
  min-height: 272px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.newsCard__image-keyword {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: #fff;
  margin: 0;
  padding: 8px 22px;
  border-radius: 10px;
}

.newsCard__image-keyword::first-letter {
  text-transform: uppercase;
}

.newsCard__btn-container {
  display: flex;
  gap: 5px;
  position: absolute;
  top: 24px;
  right: 24px;
}

.newsCard__btn-popup {
  visibility: hidden;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 11px 20px;
}

/* Targeting popup when parent container is hovered */
.newsCard__btn-container:hover .newsCard__btn-popup {
  opacity: 1;
  visibility: visible;
}

.newsCard__save-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
}

.newsCard__save-img {
  display: inline-block;
  background-image: url("../../assets/save-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.newsCard__save-img:hover {
  background-image: url("../../assets/save-btn-hover.svg");
}

.newsCard__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 304px;
  padding: 24px;
  color: #1a1b22;
}

.newsCard__date {
  font-family: "source-sans-pro";
  color: #b6bcbf;
  margin: 0;
}

.newsCard__heading {
  font-family: "roboto-slab";
  font-size: 26px;
  line-height: 30px;
  margin: 12px 0 16px 0;
}

.newsCard__text {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 18px 0;
}

.newsCard__source {
  font-family: "roboto-slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: auto 0 0 0;
}
